<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.loan_verifier.loan">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />


    <!-- For all versions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <!-- Only needed for API level 28 and below -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />


    <application
        android:name="com.loan_verifier.helper.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.CBISOLOR"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity
            android:name="com.loan_verifier.SalaryForm"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.loan_verifier.BussinessForm"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.loan_verifier.loan.DiscountActivity"
            android:exported="false" />
        <activity
            android:name="com.loan_verifier.loan.NotificationListActivity"
            android:exported="false" />
        <activity
            android:name="com.loan_verifier.ChangePasswordsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.loan_verifier.loan.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.loan_verifier.loan.TrackStatusActivity"
            android:exported="false" />
        <activity
            android:name="com.loan_verifier.loan.ServicesForm"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.loan_verifier.loan.StoreListActivity"
            android:exported="true" />
        <activity
            android:name="com.loan_verifier.loan.SignInActivity"
            android:exported="true"
            android:theme="@style/Theme.CBISOLOR" />
        <activity
            android:name="com.loan_verifier.loan.SignUpActivity"
            android:exported="true" />
        <activity
            android:name="com.loan_verifier.loan.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.CBISOLOR">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.loan_verifier.loan.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.loan_verifier.loan.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>